QUERETARO https://calendar.google.com/calendar/ical/<ID_DEL_CALENDAR>
TONALA https://calendar.google.com/calendar/ical/<ID_DEL_CALENDAR>
ORIGINS http://localhost:8080,http://127.0.0.1:8080
GOOGLE_SPREADSHEET <ID de la spreadsheet>
GOOGLE_SERVICE_EMAIL <Service google id>
GOOGLE_PRIVATE_KEY <google private key>
PORT 8081
TELEGRAM_TOKEN token
TELEGRAM_CHANNEL channel
TELEGRAM_CHANNEL_TOPIC topic
WHATSAPP_CHANNEL whatsapp_channel
OPENAI_API_KEY key
OPENAI_ASSISTANT_ID assistant_key
ENVIRONMENT localhost | production | development
